@charset "utf-8";
/* CSS Document */

.contain{
	width:95%;
	height:100%;
	margin-left: -10px;
	/*margin:0 auto;*/
	border:0px solid black;
	border: 0px solid #f00;
}
.title_head{
	width:100%;
	height:150px;
	border:0px solid #333;
	float:left;
}
#img_logo,#footer_logo{
	margin-top: -5px;
}
#logo_left{
	border:0px solid #333;
	float:left;
	width:20%;
	height:117px;
}
#title_logo{
	width:100%;
}
#logo_right{
	border:0px solid #333;
	float:right;
	width:30%;
	height:145px;
}
#titl_inv{
	float: left;
	border: 0px solid #333;
	width: 48%;
	margin: 110px 0px 0px 10px;
}

#inf_cust{
	float:left;
	width:100%;
	height:30px;
	margin-top:10px;
	border:0px solid #333;	
}
#show_tbl{
	float:left;
	width:100%;
	margin-top:5px;
}
#tbl_data{
	border:1px solid #000;
}
#tbl_data thead td{
	border-right:1px solid #000;
	border-bottom:1px solid #000;
}
#tbl_data .th_right{
	border-right:0px solid #000;
}

#show_data .td_center{
	/*border:1px solid #000;*/
	border-bottom:1px dotted #000;
}
#show_data td{
	border-right:1px dotted #000;
}
#show_data .td_right{
	border-right:0px solid #000;
}